* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: #333;
  background-color: #ffd54f;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

h1 {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.field {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.value {
  display: block;
  font-size: 4.5rem;
  font-weight: 800;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .field {
    font-size: 1.125rem;
    padding: 0.4rem;
  }

  .value {
    font-size: 3.375rem;
  }
}
